*{
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(90deg, red, black);
    display: flex; /* uses Flexbox which responds to different screen sizes */
    align-items: center; /* vertically center */
    justify-content: center;/* horizontally center */
    height: 100vh;
    margin: 0;
}

.btn {
    background-color: rebeccapurple;
    margin: 10px;
    color: rgb(225, 225, 225;)
    padding: 5px, 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    border: none;
}


.btn:hover {
    opacity: 0.9;
}


.btn:focus {
    outline: none;
}
